# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


../../.BurpSuite/
        ../../.CFUserTextEncoding
        ../../.IdentityService/
        ../../.anaconda/
        ../../.android/
        ../../.anydesk/
        ../../.aspnet/
        ../../.astropy/
        ../../.bash
        ../../.bash_history
        ../../.bash_profile
        ../../.bash_profile-anaconda2.bak
        ../../.bash_profile.pysave
        ../../.bash_profile.save
        ../../.bash_profile.save.1
        ../../.bash_profile.save.2
        ../../.bash_profile.swp
        ../../.bash_sessions/
        ../../.conda/
        ../../.condarc
        ../../.config/
        ../../.cups/
        ../../.dotnet/
        ../../.dropbox/
        ../../.emulator_console_auth_token
        ../../.fiddler/
        ../../.gitconfig
        ../../.gitignore
        ../../.gradle/
        ../../.idlerc/
        ../../.ipython/
        ../../.local/
        ../../.mono/
        ../../.ms_openjdk_config
        ../../.mysql_history
        ../../.netrc
        ../../.node-gyp/
        ../../.node_repl_history
        ../../.npm/
        ../../.nuget/
        ../../.oracle_jre_usage/
        ../../.popsql.json
        ../../.python_history
        ../../.sh_history
        ../../.ssh/
        ../../.subversion/
        ../../.swo
        ../../.swp
        ../../.templateengine/
        ../../.vagrant.d/
        ../../.vagrant/
        ../../.viminfo
        ../../.vscode/
        ../../.yarnrc
        ../../.zsh_history
        ../../AndroidStudioProjects/
        ../../Appium/
        ../../Applications/
        ../../Creative Cloud Files/
        ../.localized
        ../1/
        ../CSharpLesons-master/
        ../CSharpOther/
        ../Cookies/
        ../DragNDrop/src/js/helpers/createNewTask.js
        ../DragNDrop/src/js/helpers/listItemTemplate.js
        ../Maestro/
        ../Maestro2Stable 2/
        ../Maestro2Stable/
        ../Merck/
        ../Pet Nail Clipper From Jarcaboo/
        ../QATool/
        ../QATool_v2/
        ../QA_Automation/
        ../SendToTeam/
        ../TrashFiles/
        ../Wire/
        ../airFlight/
        ../amazon/
        ../app
        ../appium-js-digtiar/
        ../build/
        ../csharp/
        ../eBay_ Order details_files/
        ../gitCommands.txt
        ../html/
        ../jew/
        ../module/
        ../my-app/
        ../olga/
        ../passValidation/
        ../patients.test.js
        ../postDeployment/
        ../qa_tool 2/
        ../qa_tool/
        ../react-app2/
        ../react-build-prod/
        ../react-redux/.gitignore
        ../react-redux/.idea/
        ../react-redux/README.md
        ../react-redux/imgs/
        ../react-redux/package-lock.json
        ../react-redux/package.json
        ../react-redux/public/
        ../react-redux/src/actions/
        ../react-redux/src/index.css
        ../react-redux/src/index.js
        ../react-redux/yarn.lock
        ../react/
        ../reactApp/
        ../reactExamplesHooksPortalContext/
        ../reactSandBox/react-app/src/Components/AuthWindow.jsx
        ../reactSandBox/react-app/src/Components/Modal.jsx
        ../reactSandBox/react-app/src/Context/
        ../react_news_app/
        ../resume2021/
        ../server-forwarder/
        ../showUsers/
        ../site/
        ../toDoList/
        ./
        ../todo/
        ../webpack/
        ../~$Task.docx
        ../~$tz.docx
        ../../Documents/.localized
        ../../Documents/DYMO Label Software/
        ../../Documents/Demo/
        ../../Documents/E2E/
        ../../Documents/E2Etest/
        ../../Documents/EPC/
        ../../Documents/GitHub/
        ../../Documents/House/
        ../../Documents/Maestro2/
        ../../Documents/Screen Recording 2020-11-11 at 4.50.18 PM.mov
        ../../Documents/Selenium/
        ../../Documents/Statements/
        ../../Documents/Tax2019/
        ../../Documents/ViberDownloads/
        ../../Documents/WTTcopy/.idea/
        ../../Documents/WTTcopy/CI.xlsx
        ../../Documents/WTTcopy/Readme.txt
        ../../Documents/WTTcopy/compare2Json.js
        ../../Documents/WTTcopy/detectDifferences.js
        ../../Documents/WTTcopy/functions.js
        ../../Documents/WTTcopy/functions.test.js
        ../../Documents/WTTcopy/package-lock.json
        ../../Documents/WTTcopy/package.json
        ../../Documents/WTTcopy/patients.xlsx
        ../../Documents/WTTcopy/wrongData.json
        ../../Documents/WTTcopy/xcelToJson.test.js
        ../../Documents/bta/
        ../../Documents/var.notepad
        ../../Downloads/
        ../../Dropbox/
        ../../HeyAPI.java
        ../../HowdyHo/
        ../../Inejctions-darwin-x64/
        ../../LetsKodeIt/
        ../../Library/
        ../../Movies/
        ../../Music/
        ../../Pictures/
        ../../Pipfile
        ../../Pipfile.lock
        ../../Program.cs
        ../../Projects/.Python
        ../../Projects/HelloWorld/.vs/
        ../../Projects/HelloWorld/ClassLibraryPractice/Solution.sln
        ../../Projects/HelloWorld/ClassLibraryPractice/bin/
        ../../Projects/HelloWorld/ClassLibraryPractice/obj/
        ../../Projects/HelloWorld/ClassLibraryTest/bin/
        ../../Projects/HelloWorld/ClassLibraryTest/obj/
        ../../Projects/HelloWorld/HelloWorld/
        ../../Projects/HelloWorld/NUnitTestClass.cs
        ../../Projects/HelloWorld/UdemyCsharp.sln
        ../../Projects/HelloWorld/UnitTestProject/bin/
        ../../Projects/HelloWorld/UnitTestProject/obj/
        ../../Projects/HelloWorld/test/bin/
        ../../Projects/HelloWorld/test/obj/
        ../../Projects/Test/
        ../../Projects/bin/
        ../../Projects/include/
        ../../Projects/lib/
        ../../Projects/pip-selfcheck.json
        ../../Public/
        ../../PycharmProjects/
        ../../SeleniumNewProject/
        ../../Sites/
        ../../Vagrantfile
        ../../VirtualBox VMs/
        ../../WebstormProjects/
        ../../artemdigtiar.csproj
        ../../cd
        ../../evalonly.txt
        ../../get-pip.py
        ../../iCloud Drive (Archive)/
        ../../java_error_in_webstorm.hprof
        ../../java_error_in_webstorm_414.log
        ../../java_error_in_webstorm_61369.log
        ../../mdir
        ../../mkdir
        ../../name.txt
        ../../package-lock.json
        ../../quit
        ../../udemy-selenium/
        ../../udemy/
        ../../vagrant/
        ../../venv/
        ../../vitenv/

