body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.input_field {
  width: 300px;
}

.form_container {
  width: 50%;
}

#input_container {
  align-items: center;
  border: none;
  box-shadow: none;
}

#task_btn {
  margin-top: 10px;
}

#footer_container{
  margin-top: 50px;
  border-radius: 5px;
  text-align: center;
}